.bmc-button .bmac-cup {
  height: 34px !important;
  width: 35px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}

.bmc-button {
  position: relative;
  line-height: 35px !important;
  height: 37px !important;
  min-width: 217px !important;
  text-decoration: none !important;
  display: inline-flex !important;
  color: #FFFFFF !important;
  background-color: #FF813F !important;
  border-radius: 5px !important;
  border: 1px solid transparent !important;
  padding: 0px 10px !important;
  font-size: 20px !important;
  letter-spacing: -0.08px !important;
  font-family: sans-serif !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}

.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color: #FFFFFF !important;
}

.bmc-button span {
  margin-left: 15px;
}

.coffee-visiore-icon {
  position: absolute;
  top: 10px;
  left: 24px;
  transform: scale(0.8);
}

.template {
  display: none;
}

body {
  padding-top: 7rem;
}

.fixed-top {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  max-width: 28%;
  white-space: pre-wrap;
  padding: 0;
  margin: 0;
}

.navbar.fixed-bottom {
  padding: 0;
  margin: 0;
  font-size: .7rem;
}

.navbar.fixed-bottom .nav-link {
  padding: .2rem;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 12px;
    white-space: pre-wrap;
  }

  .bmc-button {
    padding: 0 !important;
    min-width: auto !important;
    padding: 0 !important;
    min-width: auto !important;
    min-height: auto !important;
    height: auto !important;
    line-height: 27px !important;
  }

  .bmc-button span {
    font-size: 12px;
    margin-left: 6px;
  }

  .bmc-button .bmac-cup {
    height: 27px !important;
    width: auto !important;
  }

  .coffee-visiore-icon {
    position: absolute;
    top: .1rem;
    left: .1rem;
    transform: scale(0.6);
  }


}

.nav-pills .nav-link {
  border-style: solid;
  border-width: 6px 9px 8px 8px;
  border-image: url("img/ui/cmn_btn_inner_01.png") 17 20 19 19 fill stretch;
  background: none;
  padding: 0;
  color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: blue;
}

.btn-primary {
  border-style: solid;
  border-width: 8px 13px 16px;
  border-image: url("img/ui/cmn_btn_base_01.png") 13 23 25 fill stretch;
  padding: 5px 7px 4px 7px;
  background: none;
  line-height: 12px;
  font-weight: 300;
  font-family: serif;
}

.btn-primary:hover {
  background: none;
}

.btn-danger {
  border-style: solid;
  border-width: 8px 13px 16px;
  border-image: url("img/ui/cmn_btn_base_02.png") 13 23 25 fill stretch;
  padding: 5px 7px 4px 7px;
  background: none;
  line-height: 12px;
  font-weight: 300;
  font-family: serif;
}

.btn-danger:hover {
  background: none;
}


.autocomplete__input--focused {
  outline: initial;
  box-shadow: none;
}

.tooltip-inner {
  max-width: 400px;
  min-width: 400px;
}

.material-icon-wrapper {
  height: 3em;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.material-icon {
  height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: top;
}

.material-icon:first-child {
  position: static;
}

.material-icon-job {

}

.material-icon-gear {
  transform-origin: 43% 68%;
  transform: scale(.65);
}

.material-icon-memory {
  transform-origin: center;
  transform: scale(.7);
}

.tooltip-inner .material-icon,
.tooltip-inner .material-icon-wrapper,
.form-control .material-icon,
.form-control .material-icon-wrapper {
  height: 1.5rem;
}

.materials-list .form-control {
  border-left: none;
  padding-top: 4px;
}

.materials-list .form-control span {
  font-size: .8rem;
}

.materials-list .input-group-text {
  padding: 0;
  background: none;
  border-right: none;
}

.materials-list .input-group-text .btn {
  padding: 0;
  max-height: 2rem;
  transform: scale(1.4);
  transform-origin: 75% 40%;
}

.story-quest-list {
  margin-bottom: 200px;
}

.mode-import,
.mode-export {
  display: none;
}

textarea {
  width: 100%;
}

.btn-dark-mode {
  padding: 0;
  margin-left: 16px;
}

.btn-dark-mode img {
  max-height: 1rem;
  transform: scale(2);
  transform-origin: 50% 33%;
}

.toggle-light-mode {
  display: none;
}

body.dark-mode {
  background: #222;
  color: #ccc;
}

.dark-mode .form-control {
  background: #444;
  border-color: #333;
  color: #fff;
}

.dark-mode .materials-list .input-group-text {
  border-color: #333;
}

.dark-mode .table {
  color: #fff;
}

.dark-mode .table-hover tbody tr:hover {
  color: #ccc;
}

.dark-mode .autocomplete__input {
  background: #ccc;
}
